* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  height: 250px;
  overflow: ;
}




/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}